.component {
  display: flex;
  flex-direction: column;
  justify-content: center;

  border: 1px solid #ddd;
  border-radius: 6px;

  .translation {
    display: flex;
    flex: 1;
  }

  .match {
    text-decoration: underline;
    color: var(--highlight-text-color);
  }

  padding: 6px;
  margin-bottom: 6px;
}
