.translation-result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 8px;

    .primary {
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: 8px;
        color: blue;
    }

    .subsidary {
        font-size: 1rem;
        font-weight: 400;
        margin-bottom: 8px;
    }
}
