<div class="flex gap-3 my-3">
  <div class="flex align-items-center">
    <p-radioButton
      name="selectedLanguage"
      value="de"
      [(ngModel)]="selectedLanguage"
      (ngModelChange)="onChanged($event)"
      inputId="german-option"></p-radioButton>
    <label for="german-option" class="ml-2">German</label>
  </div>

  <div class="flex align-items-center">
    <p-radioButton
      name="selectedLanguage"
      value="en"
      [(ngModel)]="selectedLanguage"
      (ngModelChange)="onChanged($event)"
      inputId="english-option"></p-radioButton>
    <label for="english-option" class="ml-2">English</label>
  </div>
</div>
